<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806071914042-timsqg0h2ea6qqvh4besdo9thdfhhk9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806071914042-timsqg0h2ea6qqvh4besdo9thdfhhk9d</string>
	<key>API_KEY</key>
	<string>AIzaSyC0vu-_ulAMnmT9q3cjcwK-XMX07u08w_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>806071914042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.restoque.poc</string>
	<key>PROJECT_ID</key>
	<string>bitcapitalinternal</string>
	<key>STORAGE_BUCKET</key>
	<string>bitcapitalinternal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806071914042:ios:2bb1936e546cdd3e066f03</string>
	<key>DATABASE_URL</key>
	<string>https://bitcapitalinternal.firebaseio.com</string>
</dict>
</plist>